<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
     
      <viewerContribution
            id="net.sf.guavaeclipse.actions.TextEditorActions"
            targetID="#CompilationUnitEditorContext">
         <menu
               id="googleGuavaEditor"
               label="Google Guava Helper"
               path="additions"/>
         <action
               class="net.sf.guavaeclipse.actions.ToStringAction"
               id="net.sf.guavaeclipse.actions.toString"
               label="Generate toString()"
               menubarPath="googleGuavaEditor/additions"
               tooltip="Generate toString()"
               />
         <action
               class="net.sf.guavaeclipse.actions.EqualsAction"
               id="net.sf.guavaeclipse.actions.equals"
               label="Generate hashCode() and equals()"
               menubarPath="googleGuavaEditor/additions"
               tooltip="Generate equals() and hashCode()"
               />
	   <action
               class="net.sf.guavaeclipse.actions.CompareAction"
               id="net.sf.guavaeclipse.actions.equals"
               label="Generate compareTo()"
               menubarPath="googleGuavaEditor/additions"
               tooltip="Generate compareTo()"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.guavaeclipse.preferences.UserPreferencePage"
            id="net.sf.guavaeclipse.preferences.UserPreferencePage"
            name="Guava Preference ">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.guavaeclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
