<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   Copyright 2014
 
   Licensed to the Apache Software Foundation (ASF) under one or more contributor license
   agreements. See the NOTICE file distributed with this work for additional information regarding
   copyright ownership. The ASF licenses this file to You under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance with the License. You may obtain a
   copy of the License at
   
   http://www.apache.org/licenses/LICENSE-2.0
   
   Unless required by applicable law or agreed to in writing, software distributed under the License
   is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
   or implied. See the License for the specific language governing permissions and limitations under
   the License.
-->
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.guavaeclipse.preferences.UserPreferencePage"
            id="net.sf.guavaeclipse.preferences.UserPreferencePage"
            name="Guava Preference">
      </page>
      <page
            class="net.sf.guavaeclipse.preferences.EqualsHashCodePreferencePage"
            id="net.sf.guavaeclipse.preferences.EqualsHashCodePreferencePage"
            name="Equals/HashCode Methods Preferences"
            category="net.sf.guavaeclipse.preferences.UserPreferencePage">
      </page>
      <page
            class="net.sf.guavaeclipse.preferences.CompareToPreferencePage"
            id="net.sf.guavaeclipse.preferences.CompareToPreferencePage"
            name="CompareTo Method Preference"
            category="net.sf.guavaeclipse.preferences.UserPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.guavaeclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="net.sf.guavaeclipse.handlers.ToStringHandler"
            id="net.sf.guavaeclipse.actions.toString.command"
            name="Generate Guava toString()">
      </command>
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="net.sf.guavaeclipse.handlers.EqualsHandler"
            id="net.sf.guavaeclipse.actions.equalsHashCode.command"
            name="Generate Guava hashCode() and equals()">
      </command>
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="net.sf.guavaeclipse.handlers.CompareHandler"
            id="net.sf.guavaeclipse.actions.compareTo.command"
            name="Generate Guava compareTo()">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.guavaeclipse.actions.toString.command"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+4">
      </key>
      <key
            commandId="net.sf.guavaeclipse.actions.equalsHashCode.command"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+5">
      </key>
      <key
            commandId="net.sf.guavaeclipse.actions.compareTo.command"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu id="net.sf.guavaeclipse.menu"
               label="Google Guava Helper">
            <visibleWhen checkEnabled="true">
              <with variable="activePartId">
                <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
              </with>
<!--
http://hermanlintvelt.blogspot.de/2009/06/eclipse-rcp-commands-part-3-visiblewhen.html
https://wiki.eclipse.org/Command_Core_Expressions
http://stackoverflow.com/questions/1342532/how-to-add-items-in-popup-menu
-->
            </visibleWhen>
           <command
                 commandId="net.sf.guavaeclipse.actions.toString.command"
                 label="Generate toString()"
                 style="push"
                 tooltip="Generate toString()">
           </command>
           <command
                 commandId="net.sf.guavaeclipse.actions.equalsHashCode.command"
                 label="Generate hashCode() and equals()"
                 style="push"
                 tooltip="Generate hashCode() and equals()">
           </command>
           
           <command
                 commandId="net.sf.guavaeclipse.actions.compareTo.command"
                 label="Generate compareTo()"
                 style="push"
                 tooltip="Generate compareTo()">
              <visibleWhen>
                <with variable="net.sf.guavaeclipse.hideCompareTo">
<!--
http://stackoverflow.com/questions/14783424/how-to-make-a-dynamic-context-menu-for-an-eclipse-plug-in
http://codeandme.blogspot.fr/2012/04/source-provider-property-tester-and.html
-->                
                  <test forcePluginActivation="true"  
                        property="net.sf.guavaeclipse.coreexpressions.hideCompareTo" value="true"  />  
                  </with>
              </visibleWhen>
           </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=additions">
         <separator
               name="net.sf.guavaeclipse.jdt.ui.popup.seperator"
               visible="true">
         </separator>
         <command
               commandId="net.sf.guavaeclipse.actions.toString.command"
               label="Generate Guava toString()"
               style="push"
               tooltip="Generate toString() with Guava Eclipse Plugin">
         </command>
           <command
                 commandId="net.sf.guavaeclipse.actions.equalsHashCode.command"
                 label="Generate Guava hashCode() and equals()"
                 style="push"
                 tooltip="Generate hashCode() and equals()">
           </command>
           <command
                 commandId="net.sf.guavaeclipse.actions.compareTo.command"
                 label="Generate Guava compareTo()"
                 style="push"
                 tooltip="Generate compareTo()">
              <visibleWhen>
                <with variable="net.sf.guavaeclipse.hideCompareTo">
                  <test forcePluginActivation="true"  
                        property="net.sf.guavaeclipse.coreexpressions.hideCompareTo" value="true"  />  
                  </with>
              </visibleWhen>
           </command>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.guavaeclipse.coreexpressions.HideCompareToPropertyTester"
            id="net.sf.guavaeclipse.hideCompareToPropertyTester"
            namespace="net.sf.guavaeclipse.coreexpressions"
            properties="hideCompareTo"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="net.sf.guavaeclipse.coreexpressions.HideCompareToProvider">
         <variable
               name="net.sf.guavaeclipse.hideCompareTo"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
</plugin>
